.modal {
    background-image: url("../../Assets/images/modalPpal.jpg");
    background-repeat: no-repeat;
    background-size:  cover;
    height: 800px;
    &__title {
        font-size: 95px;
        color: orangered;
        font-weight: bold;
        text-align: center;
        margin-top: 0px;
        margin-bottom: 0px;
        padding: 50px 0px;
        text-shadow: 2px 2px 5px lightgrey, 2px 2px 5px lightgrey;
    }
    &__goal {
        border-radius: 12px;
        border-color: black;
        text-align: center;
        width: 700px;
        font-size: 20px;
        padding: 15px;
        margin: 10px 0px 20px 0px;
    }
    &__button {
        background: linear-gradient(to bottom right, red, yellow);
        border-radius: 12px;
        border-color: black;
        border-style: solid;
        border-width: 5px;
        font-size: 30px;
        text-align: center;
        text-decoration: black;
        padding: 15px;
        font-weight: bolder;
        &:hover {
            background: orange;
            border: lightgrey solid 6px;
            cursor: pointer;
        }
    }

.container {
    display:flex;
    justify-content: center;
    padding: 10px;
}
}