.networks {
    background-image: url("../../Assets/images/headerBackground.png");
    display: flex;
    justify-content: space-around;
.network {
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    &__icon {
        height: 80px;
        filter: grayscale(100%);
        padding: 20px;
        margin-top: 80px;
        &:hover {
            filter: grayscale(0%);
            cursor: pointer;
        }
    }
} 

.chat {
    display: flex;
    justify-content: flex-end;
    margin-top: 50px;
    margin-bottom: 50px;
    &__input {
        width: 300px;
        height: 150px;
        text-align: center;
        border-radius: 12px;
        border: orangered solid 2px;
        font-size: 20px;
    }
}

.events {
    display:flex;
    flex-direction: column;
    justify-content: center;
    &__icon { 
        height: 110px;
        width: 110px;
        align-self: center;
        padding-top: 15px;
        cursor: pointer;
    }
    &__text {
        font-size: 35px;
        text-align: center;
        font-weight: bold;
        padding-top: 15px;
        color: orangered;
        &:hover {
            text-shadow:3px 3px 4px orange;
        }
    }
}
}