.humanTalent {
    background-image: url("../../Assets/images/talentHumanBackground.jpg");
    text-align: center;
    background-repeat: no-repeat;
    background-size:  cover;
    &__title {
        font-size: 50px;
        font-weight: bolder;
        color: orangered;
        text-align: center;
        text-shadow: 2px 2px 5px lightgrey, 2px 2px 5px lightgrey;    
        padding: 70px 0px 70px 0px;
    }
.profile {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:15px 0 15px 0;
.ppalInfo {
    display: flex;
    flex-direction: column;
    border: solid 3px orangered;
    border-radius: 12px;
    margin: 15px;
    background: rgba(20, 20, 20, 0.322); 
    &__name {
        font-weight: bolder;
        color: white;
        font-size: 25px;
        background: rgba(0, 0, 0, 2); 
        border-radius: 8px; 
        padding: 10px; 
        border-bottom: solid 3px orangered;
    }
    &__photo {
        width: 220px;
        height: 250px;
        padding: 10px;
        align-self: center;
    }
.icons {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    border-top: solid 3px orangered;
    margin-top: 10px;
    background: rgba(105, 104, 104, 0.623);
    border-bottom-left-radius: 12px;
    border-bottom-right-radius: 12px;
    &__icon {
        width: 40px;
        height: 50px;
        padding: 10px;
        cursor: pointer;
    }
}
}
.personalInfo {
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
    width: 1500px;
    padding-top: 20px;
.category {
    background: rgba(105, 104, 104, 0.623);
    border-radius: 12px;
    padding: 10px;
    margin: 10px;
    display: flex;
    flex-direction: row;
    position: relative; 
    &__info {
        font-size: 25px;
    }
    &__phrase {
        font-size: 30px;
        font-weight: bolder;
        color:gold;
    }
    
.subcategory {
    display: flex;
    justify-content: center;
    flex-direction: column;
    &__info {
        font-size: 25px;
    }
    &__stars {
        width: 30px;
        height: 30px;
        padding: 5px;
        cursor: pointer;
        border-radius: 12px;
        filter: grayscale(100%);
            &:hover {
                filter: grayscale(0%);
            }
    }
    &--column {
        flex-direction: row;
    }
}
}

}
}
.submit{
    width: 30px;
    height: 30px;
    cursor: pointer;
    position: absolute;
    top: 68%;
    left: 94%;
    &:hover {
        width: 35px;
        height: 35px;
    }
    &--invalid {
        left: 97%;
    }
}
}